.button-ui {
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    opacity: .8;
  }
  &[theme=red] {
    background-color: #ff6d7e;
    color: #fff;
  }
  &[theme=reset] {
    color: #333;
    border: 2px solid #dfdfdf;
    background-color: #f8f8f8;
    &[disabled=disabled] {
      opacity: .5;
      background-color: #f8f8f8;
      color: #333;
      cursor: not-allowed;
      &:hover{
        opacity: 1;
      }
    }
  }
  &[disabled=disabled] {
    background-color: #dfdfdf;
    cursor: not-allowed;
    color: #FFF;
    &:hover {
      opacity: 1;
    }
  }
}