.img-box {
  width: 320px;
  height: 220px;
  background: url("../img/icon-photo.png") no-repeat center center;
  position: relative;
  &_w {
    width: 320px;
  }
  .remove-img {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 2px;
    top: 2px;
    z-index: 10;
    background: rgba(51, 51, 51, 0.7) url("../img/icon-remove.png") no-repeat center center;
  }
}

.file-area{
  position: relative;
  input[type="file"]{
    position: absolute;
    cursor: pointer;
    height: 240px;
    top: 36px;
    opacity: 0;
    direction: ltr;
    background-color: transparent;
  }
}

.thumb {
  text-align: center;
  position: relative;
  height: 220px;
  top: 50%;
  transform: translateY(-50%);
  img {
    position: relative;
    max-width: 99%;
    max-height: 99%;
    vertical-align: middle;
    line-height: 220px;
    top: 50%;
    transform: translateY(-50%);
  }
}