.help {
  &-nav {
    position: relative;
    // background-color: #adadad;
    ul {
      clear: both;
      overflow: hidden;
    }
    li {
      float: left;
      width: 25%;
      text-align: center;
      color: #fff;
      position: relative;
      background-color: #adadad;
      &::after {
        position: absolute;
        content: '';
        right: -20px;
        top: 0;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #adadad;
      }
      &:hover {
        background-color: #959595;
        &::after {
          border-left: 20px solid #959595;
        }
      }
      &.on {
        background-color: #707070;
        &::after {
          border-left: 20px solid #707070;
        }
      }
    }
    a {
      height: 40px;
      line-height: 40px;
      display: inline-block;
      width: 100%;
      color: #FFF;
      text-decoration: none;
      position: relative;
    }
  }
}

.help-back-home{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  a{
    color: #FF4D6B;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

.help-content {
  padding: 46px 58px;
  line-height: 20px;
}

.help-ul {
  li {
    padding: 2px 0;
    padding-left: 14px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #a1a1a1;
      left: 0;
      top: 50%;
      border-radius: 100%;
      transform: translateY(-50%);
    }
  }
}


.protocol-input-box{
  position: relative;
  // background: #707070;
  input{
    background-color: #FF4D6B;
    vertical-align: middle;
    top: -2px;
    position: relative;
  }
}