.layui-layer.layui-Pan-nobg {
  background-color: transparent;
}

.layermmain {
  .layermchild {
    background-color: transparent;
  }
}

.Lay-wrap {
  display: none;
}

.Lay-main-1,
.Lay-main-2 {
  position: relative;
  width: 691px;
  display: block;
  a {
    display: block;
    position: absolute;
    height: 80px;
    // background-color: forestgreen;
    &.l-close {
      right: 0;
      top: 0;
      width: 80px;
      // background: red;
    }
  }
  img {
    max-width: 100%;
  }
}

.Lay-main-1 {
  height: 421px;
  .l-daijin {
    width: 160px;
    right: 30px;
    top: 200px;
  }
  .l-kefu {
    width: 160px;
    left: 228px;
    top: 247px;
  }
}

.Lay-main-2 {
  height: 462px;
}